<?xml version="1.0" ?>
<config>
    <modules>
        <Lero9_Mfshipping>
            <version>0.1.0</version>
        </Lero9_Mfshipping>
    </modules>
    <global>
        <helpers>
            <mfshipping>
                <class>Lero9_Mfshipping_Helper</class>
            </mfshipping>
        </helpers>
        <models>
            <mfshipping>
                <class>Lero9_Mfshipping_Model</class>
                <resourceModel>mfshipping_mysql4</resourceModel>
            </mfshipping>
        </models>
        <sales>
            <shipping>
                <carriers> 
                    <mfshipping>
                        <class>Lero9_Mfshipping_Model_Shipping_Carrier_Mfshipping</class>
                    </mfshipping>
                </carriers> 
            </shipping>
            <quote>
                <item>
                    <product_attributes>
                        <length/>
                        <width/>
                        <height/>
                        <package_type/>
                        <package_type_value/>
                        <commodity_class/>
                        <commodity_class_value/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <default>
        <carriers>
            <mfshipping>
                <active>1</active>
                <model>mfshipping/shipping_carrier_mfshipping</model>
                <name>collectRates</name>
                <title>Mfshipping</title>
                <description>mfshipping</description>
                <sort_order>0</sort_order>
            </mfshipping>
        </carriers>
    </default>
</config>
