<?xml version="1.0" ?>
<config>
    <sections>
        <carriers translate="label" module="mfshipping">
            <groups>
                <mfshipping translate="label">
                    <label>Mf shipping</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled for Checkout</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <name translate="label">
                            <label>Method Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <subscriptionkey translate="label">
                            <label>Subscription Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </subscriptionkey>
                        <environment translate="label">
                            <label>Environment</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mfshipping/system_config_source_environment</source_model>
                            <sort_order>95</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </environment>
                        <feetypes translate="label">
                            <label>Fee Types</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mfshipping/system_config_source_feetypes</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </feetypes>
                        <feetypesfee translate="label">
                            <label>Fee Types Fee</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </feetypesfee>
                        <servicelevels translate="label">
                            <label>Service Levels</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mfshipping/system_config_source_servicelevels</source_model>
                            <sort_order>115</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </servicelevels>
                        <jobtypes translate="label">
                            <label>Job Types</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mfshipping/system_config_source_jobtypes</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </jobtypes>
                        <transportmodes translate="label">
                            <label>Transport Modes</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mfshipping/system_config_source_transportmodes</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </transportmodes>
                        <ratetypes translate="label">
                            <label>Rate Types</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mfshipping/system_config_source_ratetypes</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </ratetypes>
                        <motorclasses translate="label">
                            <label>Motor Classes</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mfshipping/system_config_source_motorclasses</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </motorclasses>
                        <routingtypes translate="label">
                            <label>Routing Types</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mfshipping/system_config_source_routingtypes</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </routingtypes>
                        <accessorials translate="label">
                            <label>Accessorials</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mfshipping/system_config_source_accessorials</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </accessorials>
                        <quoteresultsources translate="label">
                            <label>Quote Result Sources</label>
                            <frontend_type>select</frontend_type>
                            <source_model>mfshipping/system_config_source_quoteresultsources</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </quoteresultsources>
                        <nmfc translate="label">
                            <label>NMFC</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>125</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>The motor classification for the freight on the shipment line.</comment>
                        </nmfc>
                          <origincity translate="label">
                            <label>Origin City</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>125</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </origincity>
                        <originstate translate="label">
                            <label>Origin State</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </originstate>
                        <originzip translate="label">
                            <label>Origin Zip</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>135</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </originzip>
                        <min_package_weight translate="label">
                            <label>Minimum Package Weight</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_package_weight>
                        <handling_type translate="label">
                            <label>Calculate Handling Fee</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>180</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </handling_type>
                        <handling_fee translate="label comment">
                            <label>Handling Fee</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <sort_order>190</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Handling fee is applied to the freight rate for the whole order.</comment>
                        </handling_fee>
                        <specificerrmsg translate="label">
                            <label>Displayed Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificerrmsg>
                        <sallowspecific translate="label">
                            <label>Ship to Applicable Countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>210</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>220</sort_order>
                            <source_model>mfshipping/system_config_source_countries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <showmethod translate="label">
                            <label>Show Method if Not Applicable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>240</sort_order>
                            <frontend_class>shipping-skip-hide</frontend_class>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </showmethod>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>250</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                    </fields>
                </mfshipping>
            </groups>
        </carriers>
    </sections>
</config>
